
.popup {
  background: #fff;
  border-radius: 8px;
  width: 480px;
  padding: 30px;
  // text-align: center;
  position: relative;
}
.close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  font-size: 32px;
  color: var(--text-title-email);
  float: left;
  font-weight: 500;
  margin-bottom: 10px;
}

.span {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #666;
  font-weight: 400;
  align-items: flex-start;
  justify-content: flex-start;
  .span_text {
    display: flex;
    gap: 5px;
    text-align: left;
  }
}

.input_box {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  width: 100%;
}

.countinue {
  position: absolute;
  bottom: 15px;
  height: 40px;
  padding: 10px 24px;
  width: 420px;
  border: none;
  border-radius: 8px;
  background: var(--primary);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    background: var(--primary);
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.active {
  opacity: 1;
}

.action {
  margin-top: 24px;
}
