.style2 {
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  color: #303b48;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  user-select: none;
  transition: 0.2s;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e2e8ed;
  cursor: pointer;
  transition: 0.3s;

  &.focus {
    border: 1px solid #5755ff;
    background: rgba(87, 85, 255, 0.1);
  }

  &:hover {
    border: 1px solid #5755ff;
  }
}

.value {
  color: #27282b;
  font-size: 14px;
  font-weight: 600;
  // margin-left: 8px;
}

.icon_arrow {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &.active_icon {
    transform: rotate(-180deg);
  }
}

.formStyle {
  height: 44px;
  background-color: var(--grey-3);
}
