.container {
  // position: relative;
}

.popup {
  padding: 10px 12px;
  border-radius: 8px;
  background: #27282b;
  color: #fff;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
}
